@using WebApp.Helpers;

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "vMantenimientoCategorias"; }

@section Dashboard {

    <!--Scripts-->
    <script src="~/Scripts/Views/vMantenimientoCategorias.js"></script>
    <!--Style sheets-->
    <link href="~/Content/Project_Styles/MantenimientoCategorias.css" rel="stylesheet" />

    <!--Tabla-->
    <div class="text-center">
        <h2>Mantenimiento de categorías</h2>
    </div>
    <div class="card border-secondary" style="margin-top: 50px;">
        @Html.CtrlTable(viewName: "vMantenimientoCategorias", id: "tblCategorias", title: "Listado de categorías",
                columnsTitle: "Nombre", ColumnsDataName: "Nombre",
                onSelectFunction: "BindFields", colorHeader: "red")
    </div>

    <div class="card border-secondary" style="margin-top: 50px;">
        <div class="card-header">
            <div class="row pull-right">
                <div class="col-md-8">Edición Categorías</div>
                <div class="col-md-4">
                    @Html.CtrlButton(viewName: "vMantenimientoCategorias", id: "btnCreate", label: "Guardar", onClickFunction: "Create", buttonType: "success")
                    @Html.CtrlButton(viewName: "vMantenimientoCategorias", id: "btnUpdate", label: "Modificar", onClickFunction: "Update", buttonType: "info")
                    @Html.CtrlButton(viewName: "vMantenimientoCategorias", id: "btnDelete", label: "Eliminar", onClickFunction: "Delete", buttonType: "danger")
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <form id="frmEdition">
                            @Html.CtrlInput(id: "idCategoria", type: "text", idLabel: "idCategoria", label: "Id Categoria", columnDataName: "IdCategoria")
                            @Html.CtrlInput(id: "Nombre", type: "text", idLabel: "nombre", label: "Nombre", columnDataName: "Nombre")
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Alertas-->
        <div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
            <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
            <p id="alert_message"></p>
            <p id="alert_message_pwd"></p>
        </div>
    </div>


}
